In [292]:
import pandas as pd
import numpy as np

In [293]:
#Read the Dataset
df_csv= pd.read_csv('customer_signups.csv')

In [294]:
#Identify missing values, data types, and column structure
print(df_csv.isnull().sum())
print(df_csv.dtypes)
display(df_csv.head(120))

customer_id          2
name                 9
email               34
signup_date          2
source               9
region              30
plan_selected        8
marketing_opt_in    10
age                 12
gender               8
dtype: int64
customer_id         object
name                object
email               object
signup_date         object
source              object
region              object
plan_selected       object
marketing_opt_in    object
age                 object
gender              object
dtype: object

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
0,CUST00000,Joshua Bryant,NaN,NaN,Instagram,NaN,basic,No,34,Female
1,CUST00001,Nicole Stewart,nicole1@example.com,02-01-24,LinkedIn,West,basic,Yes,29,Male
2,CUST00002,Rachel Allen,rachel2@example.com,03-01-24,Google,North,PREMIUM,Yes,34,Non-Binary
3,CUST00003,Zachary Sanchez,zachary3@mailhub.org,04-01-24,YouTube,NaN,Pro,No,40,Male
4,CUST00004,NaN,matthew4@mailhub.org,05-01-24,LinkedIn,West,Premium,No,25,Other
...,...,...,...,...,...,...,...,...,...,...
115,CUST00115,Kevin Day,kevin15@example.com,25-04-24,Facebook,East,Basic,Yes,25,Female
116,CUST00116,Daniel Leonard,daniel16@inboxmail.net,26-04-24,Instagram,East,Pro,Yes,thirty,Male
117,CUST00117,Ashley Stokes,NaN,27-04-24,YouTube,East,Basic,No,29,Other
118,CUST00118,Joseph Santiago,joseph18@example.com,28-04-24,Referral,North,basic,Yes,34,FEMALE
119,CUST00119,Rachel Kelley,rachel19@mailhub.org,29-04-24,Referral,North,PRO,NaN,47,Other

In [295]:
#Convert signup_date to datetime
df_csv['signup_date']=pd.to_datetime(df_csv['signup_date'], errors='coerce')
df_csv = df_csv.dropna(subset=["signup_date"])

C:\Users\feras\AppData\Local\Temp\ipykernel_16828\4201232429.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_csv['signup_date']=pd.to_datetime(df_csv['signup_date'], errors='coerce')

In [296]:
print(df_csv.dtypes)

customer_id                 object
name                        object
email                       object
signup_date         datetime64[ns]
source                      object
region                      object
plan_selected               object
marketing_opt_in            object
age                         object
gender                      object
dtype: object

In [297]:
#Standardise inconsistent text values
df_csv['plan_selected'] = df_csv['plan_selected'].str.strip().str.lower()
df_csv['gender'] = df_csv['gender'].str.strip().str.lower()
df_csv['gender']= df_csv['gender'].replace({"123":"other"})
df_csv['age']=pd.to_numeric(df_csv['age'],errors='coerce')
df_csv['source'] = df_csv['source'].str.strip().str.lower()
df_csv['region'] = df_csv['region'].str.strip().str.lower()
df_csv['marketing_opt_in'] = df_csv['marketing_opt_in'].str.strip().str.lower()

In [298]:
#Remove duplicate rows based on customer_id
initial_row_count = df_csv.shape[0]
df_csv = df_csv.drop_duplicates(subset='customer_id')
duplicates_removed = initial_row_count - df_csv.shape[0]

In [299]:
#Handle missing values (e.g., region, email, age)
df_csv['region'].fillna('unknown',inplace=True)
#f_csv=df_csv.dropna(subset=['email'])
df_csv['age'].fillna(df_csv['age'].median(),inplace=True)
df_csv=df_csv.dropna(subset=['customer_id'])

In [300]:
#Count of missing values per column
print("Remaining missing values:")
print(df_csv.isnull().sum())

Remaining missing values:
customer_id          0
name                 8
email               33
signup_date          0
source               9
region               0
plan_selected        8
marketing_opt_in    10
age                  0
gender               8
dtype: int64

In [301]:
#Count of missing values per column And % of missing values
missing_count = df_csv.isnull().sum()
missing_percent = (df_csv.isnull().sum() / len(df_csv)) * 100
missing_df = pd.DataFrame({
    'Missing Values': missing_count,
    '% Missing': missing_percent.round(1)
})
print(missing_df)

                  Missing Values  % Missing
customer_id                    0        0.0
name                           8        2.7
email                         33       11.3
signup_date                    0        0.0
source                         9        3.1
region                         0        0.0
plan_selected                  8        2.7
marketing_opt_in              10        3.4
age                            0        0.0
gender                         8        2.7

In [302]:
#Number of duplicates removed
print("Number of duplicates removed\n",duplicates_removed)

Number of duplicates removed
 1

In [303]:
#Sign-ups per week (grouped by signup_date)
signups_per_week= df_csv.groupby(pd.Grouper(key="signup_date",freq="W")).size()
print(signups_per_week)

signup_date
2024-01-07    6
2024-01-14    5
2024-01-21    7
2024-01-28    7
2024-02-04    8
2024-02-11    6
2024-02-18    6
2024-02-25    7
2024-03-03    7
2024-03-10    7
2024-03-17    5
2024-03-24    6
2024-03-31    6
2024-04-07    7
2024-04-14    5
2024-04-21    7
2024-04-28    7
2024-05-05    6
2024-05-12    4
2024-05-19    7
2024-05-26    7
2024-06-02    7
2024-06-09    7
2024-06-16    5
2024-06-23    7
2024-06-30    7
2024-07-07    7
2024-07-14    5
2024-07-21    6
2024-07-28    7
2024-08-04    7
2024-08-11    5
2024-08-18    6
2024-08-25    7
2024-09-01    7
2024-09-08    7
2024-09-15    5
2024-09-22    7
2024-09-29    7
2024-10-06    6
2024-10-13    5
2024-10-20    6
2024-10-27    6
2024-11-03    3
2024-11-10    7
2024-11-17    0
2024-11-24    0
2024-12-01    1
2024-12-08    7
2024-12-15    2
Freq: W-SUN, dtype: int64

In [304]:
# Sign-ups by source, region, and plan_selected
print("\nSignups by Source:",df_csv['source'].value_counts())
print("\nSignups by region:",df_csv['region'].value_counts())
print("\nSignups by plan_selected:",df_csv['plan_selected'].value_counts())

Signups by Source: source
youtube      56
google       50
referral     48
instagram    47
facebook     39
linkedin     37
??            6
Name: count, dtype: int64

Signups by region: region
north      64
east       61
south      56
west       44
central    38
unknown    29
Name: count, dtype: int64

Signups by plan_selected: plan_selected
premium        97
pro            93
basic          88
unknownplan     6
Name: count, dtype: int64

In [305]:
#Marketing opt-in counts by gender
print("\nMarketing opt-in counts by gender:\n", df_csv.groupby('gender')['marketing_opt_in'].value_counts())

Marketing opt-in counts by gender:
 gender      marketing_opt_in
female      no                  46
            yes                 41
male        no                  50
            yes                 36
            nil                  1
non-binary  no                  20
            yes                 18
other       no                  35
            yes                 27
Name: count, dtype: int64

In [306]:
#Age summary
print("Age summary:")
print("Min Age:",df_csv['age'].min())
print("Max Age:",df_csv['age'].max())
print("Mean Age:",df_csv['age'].mean())
print("Median Age:",df_csv['age'].median())
print("Null Count:", df_csv['age'].isnull().sum())

Age summary:
Min Age: 21.0
Max Age: 206.0
Mean Age: 36.10958904109589
Median Age: 34.0
Null Count: 0

In [307]:
#Which acquisition source brought in the most users last month?
last_month = df_csv["signup_date"].max().to_period("M")
last_month_df = df_csv[df_csv["signup_date"].dt.to_period("M") == last_month]
most_source = last_month_df["source"].value_counts().idxmax()
print(most_source)

instagram

In [308]:
#Which region shows signs of missing or incomplete data?
missing_by_region = df_csv.groupby("region").apply(lambda group: group.isnull().sum())
missing_by_region["Total Missing"] = missing_by_region.sum(axis=1)
total_missing_only = missing_by_region[["Total Missing"]]
print(total_missing_only)

         Total Missing
region
central              8
east                17
north               21
south               10
unknown              6
west                14

In [309]:
#Are older users more or less likely to opt in to marketing?
median_age = df_csv['age'].median()
older_users = df_csv[df_csv['age']>median_age]
younger_users = df_csv[df_csv['age']<=median_age]

opt_in_rate_older_y = (older_users['marketing_opt_in'] == 'yes').sum()
opt_in_rate_older_n = (older_users['marketing_opt_in'] == 'no').sum()

opt_in_rate_younger_y = (younger_users['marketing_opt_in'] == 'yes').sum()
opt_in_rate_younger_n = (younger_users['marketing_opt_in'] == 'no').sum()

print("Older users opt-in:\tYes:", opt_in_rate_older_y, "No:", opt_in_rate_older_n)
print("Younger users opt-in:\tYes:", opt_in_rate_younger_y, "No:", opt_in_rate_younger_n)

Older users opt-in:	Yes: 51 No: 58
Younger users opt-in:	Yes: 75 No: 97

In [310]:
#Which plan is most commonly selected, and by which age group?
most_common_plan = df_csv["plan_selected"].value_counts().idxmax()
most_common_plan_df = df_csv[df_csv["plan_selected"] == most_common_plan]
age_group = pd.cut(df_csv['age'],bins=[0, 25, 35, 45, 60, 100], labels=["<25", "26-35", "36-45", "46-60", "60+"])
most_common_age_group = pd.cut(most_common_plan_df['age'], bins=[0, 25, 35, 45, 60, 100], labels=["<25", "26-35", "36-45", "46-60", "60+"]).value_counts().idxmax()
print("The most common plan is: ",most_common_plan,"\nMost common age group selecting that plan", most_common_age_group)

The most common plan is:  premium
Most common age group selecting that plan 26-35

In [311]:
#Load the support_tickets.csv dataset
df_tickits = pd.read_csv("support_tickets.csv")
df_tickits["ticket_date"]= pd.to_datetime(df_tickits["ticket_date"],dayfirst=True)

C:\Users\feras\AppData\Local\Temp\ipykernel_16828\2052864370.py:3: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df_tickits["ticket_date"]= pd.to_datetime(df_tickits["ticket_date"],dayfirst=True)

In [312]:
#Join it to customer_signups.csv on customer_id
merged_df = pd.merge(df_tickits,df_csv,on="customer_id",how="left")

In [313]:
#Count how many customers contacted support within 2 weeks of sign-up
merged_df["days_since_signup"]=(merged_df["ticket_date"]-merged_df["signup_date"]).dt.days
in2weeks = merged_df[merged_df["days_since_signup"]<=14]
num_customers = in2weeks["customer_id"].nunique()
print("Number of customers who contacted support within 2 weeks of sign-up:", num_customers)

Number of customers who contacted support within 2 weeks of sign-up: 47

In [314]:
#Summarise support activity by plan and region (Group by plan and region)
support_summary = merged_df.groupby(["plan_selected", "region"]).size().reset_index(name="ticket_count")
print(support_summary)

   plan_selected   region  ticket_count
0          basic  central             2
1          basic     east            11
2          basic    north             3
3          basic    south            14
4          basic  unknown             2
5          basic     west            10
6        premium  central             6
7        premium     east             1
8        premium    north             6
9        premium    south             2
10       premium     west            11
11           pro  central            10
12           pro     east            14
13           pro    north            11
14           pro    south             3
15           pro  unknown             3
16           pro     west             6
17   unknownplan    north             4

In [315]:
#Which planâ€™s users are most likely to contact support?
supportCustomerPerPlan = merged_df.groupby("plan_selected")["customer_id"].nunique()

print(supportCustomerPerPlan)

plan_selected
basic          20
premium        12
pro            24
unknownplan     2
Name: customer_id, dtype: int64

In [316]:
display(df_csv.head(120))

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
1,CUST00001,Nicole Stewart,nicole1@example.com,2024-02-01,linkedin,west,basic,yes,29.0,male
2,CUST00002,Rachel Allen,rachel2@example.com,2024-03-01,google,north,premium,yes,34.0,non-binary
3,CUST00003,Zachary Sanchez,zachary3@mailhub.org,2024-04-01,youtube,unknown,pro,no,40.0,male
4,CUST00004,NaN,matthew4@mailhub.org,2024-05-01,linkedin,west,premium,no,25.0,other
5,CUST00005,John Gonzales,john5@mailhub.org,2024-06-01,facebook,south,premium,no,34.0,other
...,...,...,...,...,...,...,...,...,...,...
117,CUST00117,Ashley Stokes,NaN,2024-04-27,youtube,east,basic,no,29.0,other
118,CUST00118,Joseph Santiago,joseph18@example.com,2024-04-28,referral,north,basic,yes,34.0,female
119,CUST00119,Rachel Kelley,rachel19@mailhub.org,2024-04-29,referral,north,pro,NaN,47.0,other
121,CUST00121,Carolyn Castro,carolyn21@mailhub.org,2024-01-05,youtube,unknown,basic,yes,34.0,male
122,CUST00122,Kristine Baker,kristine22@example.com,2024-02-05,referral,south,basic,yes,53.0,other